.App {
  text-align: center;
}

.youtube_wrapper {
  display: flex;
  @media screen and (max-width: 640px) {
    flex-direction: column;
  }
}

.video_list {
  margin: auto;
  
  @media screen and (max-width: 640px) {
    margin-top: 125%;
  }
}

.sticky-container {
  background: white;
  @media screen and (max-width: 640px) {
    position: fixed;
  }
}

.sticky-video {
  border: 2px solid #109265;
  position: fixed;
  /* width: 640px; */
  @media screen and (max-width: 640px) {
    position: initial;
    width: auto !important;
  }
}
.search-bar {
  position: sticky;
  top: 365px;
  padding: 0px;
  z-index: 1;
  width: 312px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border: 1px solid rgb(6, 6, 6);
  border-radius: 4px;
  font-size: 16px;
}

.search-bar button {
  padding: 10px 15px;
  background-color: #109265;
  color: #fff;
  border: 1px solid rgb(6, 6, 6);
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 1s ease;
}

.search-bar button:hover {
  background-color: #0056b3;
}

.box {
  transition: background-color 0.5s ease;
}

.box:hover {
  background-color: lightblue;
  color: white; 
  border: 2px solid black; 
}

.animated-text {
  animation: fadeIn 1s ease-in-out;
  font-family: 'HandwrittenFont', cursive;
  letter-spacing: 2px;
  line-height: 1.5;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 46px;
}

.nextbutton {
  padding: 12px 121px;
  background-color: #109265;
  color: #fff;
  border: 1px solid rgb(6, 6, 6);
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 1s ease;
  position: sticky;
  top: 410px;
  z-index: 1;
  margin-right: 79.5%;
}

.nextbutton:hover {
  background-color: #0056b3;
}

.prevbutton {
  padding: 13px 107px;
  background-color: #109265;
  color: #fff;
  border: 1px solid rgb(6, 6, 6);
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 1s ease;
  position: sticky;
  top: 460px;
  z-index: 1;
  margin-right: 79.5%;
}

.prevbutton:hover {
  background-color: #0056b3;
}